# Archivos binarios y compilados
bin/
obj/
*.mdf
*.ldf

# Archivos temporales
*.log
*.tmp
*.temp
*.bak
*.cache

# Configuración de usuario de VS
.vs/
*.user
*.suo

# Publicaciones
PublishProfiles/
*.pubxml
*.publishproj

# Paquetes NuGet
packages/
*.nupkg
project.lock.json

# Otros
_ReSharper*/
*.resharper
*.orig
/web/obj/Release/AspnetCompileMerge/Source/Web.config
/web/obj/Release/AspnetCompileMerge/Source/Web.config
/web/obj/Release/AspnetCompileMerge/Source/Web.config
/web/obj/Release/AspnetCompileMerge/TempBuildDir/Web.config
/web/obj/Release/Package/PackageTmp/Web.config
/web/obj/Release/TransformWebConfig/original/Web.config
/web/obj/Release/TransformWebConfig/transformed/Web.config
/web/obj/Release/AspnetCompileMerge/Source/Web.config
/web/obj/Release/AspnetCompileMerge/Source/Web.config
/web/obj/Release/AspnetCompileMerge/TempBuildDir/Web.config
/web/obj/Release/Package/PackageTmp/Web.config
/web/obj/Release/TransformWebConfig/original/Web.config
/web/obj/Release/TransformWebConfig/transformed/Web.config
