################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/rickyAwards/.vs/rickyAwards
/rickyAwards/library/obj
/rickyAwards/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1
/rickyAwards/web/App_Data
/rickyAwards/web/bin
/rickyAwards/web/obj/Debug
*.user
/library/obj
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1
/web/App_Data
/web/bin
/web/obj/Debug
*.json
/library/bin/Debug
