################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/rickyAwards/.vs/rickyAwards
/rickyAwards/library/obj
/rickyAwards/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1
/rickyAwards/web/App_Data
/rickyAwards/web/bin
/rickyAwards/web/obj/Debug
*.user
/library/obj
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1
/web/App_Data
/web/bin
/web/obj/Debug
*.json
/library/bin/Debug
/packages
*.mdf
*.ldf
/library/bin/Release/DiscordRPC.xml
/library/bin/Release/library.pdb
/library/bin/Release/library.dll
/web/obj/Release/AspnetCompileMerge/Source/bin/library.dll
/web/obj/Release/AspnetCompileMerge/Source/bin/library.pdb
/web/obj/Release/AspnetCompileMerge/Source/bin/web.dll
/web/obj/Release/AspnetCompileMerge/Source/bin/web.pdb
/web/obj/Release/AspnetCompileMerge/TempBuildDir/bin/library.dll
/web/obj/Release/AspnetCompileMerge/TempBuildDir/bin/library.pdb
/web/obj/Release/AspnetCompileMerge/TempBuildDir/bin/web.pdb
/web/obj/Release/AspnetCompileMerge/TempBuildDir/bin/web.dll
/web/obj/Release/Package/PackageTmp/bin/library.dll
/web/obj/Release/Package/PackageTmp/bin/library.pdb
/web/obj/Release/Package/PackageTmp/bin/web.pdb
/web/obj/Release/Package/PackageTmp/bin/web.dll
*.cache
/web/obj/Release/web.csproj.AssemblyReference.cache
/web/obj/Release/web.csproj.CoreCompileInputs.cache
/web/obj/Release/web.csproj.FileListAbsolute.txt
/web/obj/Release/web.dll
/web/obj/Release/web.pdb
/web/obj/Release/_WPPLastBuildInfo.txt
